*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.cont{
    max-width: 1440px;
    background-color: #14122b;
    height: 697px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
 height: 300px;
 width: 200px;
 background-image: url(images/image-equilibrium.jpg);
 background-size: cover;
 background-position: center;
 border-radius: 10px;
}
.view{
    opacity: 0;
   }
   .view:hover{
       opacity: 1;
      
   }
   .box-img:hover{
    background-image: linear-gradient(to right ,hsla(178, 100%, 50%, 0.185),hsla(178, 100%, 50%, 0.247)  ) ,url(images/image-equilibrium.jpg);
}
p{
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 12px;
    line-height: 1.6;
    color: rgba(240, 255, 255, 0.527);
}
   