*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.cont{
    max-width: 1440px;
    background-color: #14122b;
    height: 697px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
 height: 300px;
 width: 200px;
 background-image: url(images/image-equilibrium.jpg);
 background-size: cover;
 background-position: center;
 border-radius: 10px;
}
.view{
    opacity: 0;
   }
   .view:hover{
       opacity: 1;
      
   }
   .box-img:hover{
    background-image: linear-gradient(to right ,hsla(178, 100%, 50%, 0.185),hsla(178, 100%, 50%, 0.247)  ) ,url(images/image-equilibrium.jpg);
}
p{
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 12px;
    line-height: 1.6;
    color: rgba(240, 255, 255, 0.527);
}
.table{
    padding: 10px 24px ;
    box-shadow: 1px 1px 15px #0000003f;
    height: 380px;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color:#1f1b46;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 14px;
    font-family: 'Outfit', sans-serif;
}
.h2-one{
    font-size: 14px;
    padding-bottom: 3px;
    color: aliceblue;
    font-weight: 600;
}
.text-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    
}
.human{
    border-top: 1px solid #ffffff31;
    display: flex;
    align-items: center;
    
    font-size:8px;
    height: 38px;
    padding-top: 4px;

}
.text-m{
    display: flex;
    font-size: 6px;
    align-items: center;
    gap: 3px;
    margin-left: 10px;
    color: rgba(240, 248, 255, 0.637);
    font-weight: 100;
}
a{
    text-decoration: none;
    font-size: 11px;
    color: #6474bd;
}
.mohammad{
    border-radius: 50%;
}
.text-mid{
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    color: antiquewhite;
    font-family: 'Outfit', sans-serif;
    align-items: center;
    margin-bottom: 10px;
}
.Eth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}